<p>Datos Libros</p>
<style>
    table {
      border-collapse: collapse; /* Une los bordes de las celdas */
    }

    td, th {
      border: 1px solid #6c6c6c; /* Bordes negros de 2px */
      padding: 15px;
    }
  </style>
<table border="1">
   <thead>
    <tr>
        <th>ID Libro</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Publicación</th>
        <th>Precio</th>
        <th>Idioma</th>
        <th>Disponible</th>
        <th>Tipo</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>1</td>
        <td>Libro de Python</td>
        <td>Aprende Python desde cero</td>
        <td>2023-11-21</td>
        <td>29.99</td>
        <td>Español</td>
        <td>Sí</td>
        <td>Programación</td>
    </tr>
    <tr>
        <td>2</td>
        <td>El Señor de los Anillos</td>
        <td>Trilogía épica de fantasía</td>
        <td>1954-1955</td>
        <td>19.99</td>
        <td>Español</td>
        <td>Sí</td>
        <td>Fantasía</td>
    </tr>
    <tr>
        <td>3</td>
        <td>1984</td>
        <td>Distopía clásica de George Orwell</td>
        <td>1949</td>
        <td>14.99</td>
        <td>Español</td>
        <td>Sí</td>
        <td>Ciencia Ficción</td>
    </tr>
    <tr>
        <td>4</td>
        <td>El Alquimista</td>
        <td>Aventura espiritual de Paulo Coelho</td>
        <td>1988</td>
        <td>12.99</td>
        <td>Portugués</td>
        <td>Sí</td>
        <td>Autoayuda</td>
    </tr>
    <tr>
        <td>5</td>
        <td>El Principito</td>
        <td>Cuento filosófico de Antoine de Saint-Exupéry</td>
        <td>1943</td>
        <td>9.99</td>
        <td>Francés</td>
        <td>Sí</td>
        <td>Infantil</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Orgullo y Prejuicio</td>
        <td>Novela romántica de Jane Austen</td>
        <td>1813</td>
        <td>15.99</td>
        <td>Inglés</td>
        <td>Sí</td>
        <td>Romance</td>
    </tr>
</tbody>
</table>
<div style="text-align:center">
    <button style="background-color: #4ca3af; color: white; padding:8px; font-size:16px; margin-bottom:50px" onclick="location.href='/libro'">Agregar Libros</button>
</div>