<p>Datos Autor</p>
<style>
    table {
      border-collapse: collapse; /* Une los bordes de las celdas */
    }

    td, th {
      border: 1px solid #6c6c6c; /* Bordes negros de 2px */
      padding: 15px;
    }
  </style>
<table border="1">
    <thead>
        <tr>
            <th>ID Autor</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Nacionalidad</th>
            <th>Información</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>J.K.</td>
            <td>Rowling</td>
            <td>Británica</td>
            <td>Autora de la saga de Harry Potter</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Stephen</td>
            <td>King</td>
            <td>Americano</td>
            <td>Escritor de terror y fantasía</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Gabriel García</td>
            <td>Márquez</td>
            <td>Colombiano</td>
            <td>Premio Nobel de Literatura 1982</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Haruki</td>
            <td>Murakami</td>
            <td>Japonés</td>
            <td>Autor de "Kafka en la orilla"</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Joanne</td>
            <td>Harris</td>
            <td>Británica</td>
            <td>Autora de "Chocolat"</td>
        </tr>
    </tbody>
</table>
<div style="text-align:center">
    <button style="background-color: #4ca3af; color: white; padding:8px; font-size:16px; margin-bottom:20px" onclick="location.href='/newautor'">Agregar Autor</button>
</div>

