<p>Datos Editorial</p>
    <style>
        table {
          border-collapse: collapse; /* Une los bordes de las celdas */
        }
    
        td, th {
          border: 1px solid #6c6c6c; /* Bordes negros de 2px */
          padding: 15px;
        }
      </style>
<table border="1">
    <thead>
        <tr>
          <th>ID Editorial</th>
          <th>Nombre</th>
          <th>Teléfono</th>
          <th>Correo</th>
          <th>Dirección</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Editorial Planeta</td>
          <td>34 93 223 33 00</td>
          <td>infoplanetadelibros.com</td>
          <td>Av. Diagonal, 662-664, 08037 Barcelona, España </td>
        </tr>
        <tr>
          <td>2</td>
          <td>Penguin Random House</td>
          <td>1 212 572 2000</td>
          <td>contactpenguinrandomhouse.com </td>
          <td>1745 Broadway, New York, NY 10019, USA </td>
        </tr>
        <tr>
          <td>3</td>
          <td>HarperCollins</td>
          <td>1 212 207 7000 </td>
          <td>harpercollinsharpercollins.com </td>
          <td>1 Infinite Loop, Cupertino, CA 95014, USA </td>
        </tr>
        <tr>
          <td>4</td>
          <td>Editorial Galáctica </td>
          <td>44 20 7777 8888 </td>
          <td>edicionesgalacticasmarte.com </td>
          <td>Vía Láctea, Sistema Solar, Tierra </td>
        </tr>
        <tr>
          <td>5</td>
          <td>Alfaguara</td>
          <td>34 91 391 31 00 </td>
          <td>alfaguaraalfaguara.com </td>
          <td>Calle Orense, 59, 28020 Madrid, España</td>
        </tr>
      </tbody>
</table>
<div style="text-align:center">
    <button style="background-color: #4ca3af; color: white; padding:8px; font-size:16px; margin-bottom:50px" onclick="location.href='/neweditorial'">Agregar Editorial</button>
</div>