
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fa-solid fa-bars"></i>
    </label>
    <a href="#" class="enlace">
        
    </a>
    <ul>
        <li><a class="active" href="/inicio">Inicio</a></li>
        <li><a href="/usuario">Usuario</a></li>
        <li><a href="/registros">Registro</a></li>
        <li><a href="/datalibro">Libro</a></li>
        <li><a href="/genero">Géneros</a></li>
        <li><a href="/autor">Autores</a></li>
        <li><a href="/editorial">Editoriales</a></li>
    </ul>
</nav>

<router-outlet></router-outlet>
