*{
    padding:0;
    margin:0;
    text-decoration:none;
    list-style:none;
    box-sizing:border-box;
}

nav{
    background: #2fcdcd;
    height:80px;
    width:100%;
}
.enlace{
    position:absolute;
    padding:20px 50px;
}
.logo{
    height:60px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Use Flexbox for horizontal layout */
    justify-content: flex-end; /* Align items to the right */
}

nav ul li {
    display: inline-block;
    margin: 0 10px; /* Adjust the margin as needed */
    line-height:80px
}

nav ul li a {
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none; /* Remove default underline for links */
}
li a.active, li a:hover{
    background:#000090;
    transition:.5s;
}
.checkbtn{
    font-size:30px;
    color:#fff;
    float:right;
    line-height:80px;
    margin-right:40px;
    cursor:pointer;
    display:none;
}
#check{
    display:none;
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(30, 191, 223, 0.5);
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: rgb(20, 150, 219);
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

section{
    background:url(../app/fondo4.webp) no-repeat;
    background-size: cover;
    background-position: center center;
    height:calc(100vh - 80px);
}
@media (max-width: 952px){
    .enlace{
        padding-left:20px;
    }
    nav ul li a{
        font-size:16px
    }
}
@media (max-width:858px){
    .checkbtn{
        display:block;
    }
    ul{
        position:fixed;
        width:100%;
        height:100vh;
        background:#2c3e50;
        top:80px;
        left: 100%;
        text-align:center;
        transition:all .5s;
    }
    nav ul li{
        display:black;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul a{
        font-size:20px;
    }
    li a:hover, li a.active{
        background:none;
        color:red;
    }
    #check:checked ~ul{
        left:0;
    }
}