
<div class="form-register" >
    <h2>Editar Usuario</h2>
    <form  method="post" id="authorForm">
      <div class="form-group">
        <label>ID Usuario:</label>
        <div class="input-group">
          <input name="id_libro" placeholder="ID Usuario" required>
        </div>
      </div>
  
      <div class="form-group">
        <label>Nombre:</label>
        <div class="input-group">
          <input  name="nombre" placeholder="Nombre" required>
        </div>
      </div>
  
      <div class="form-group">
        <label>Apellido:</label>
        <div class="input-group">
          <input  name="descripcion" placeholder="Apellido" required>
        </div>
      </div>
  
      <div class="form-group">
        <label>Dirección:</label>
        <div class="input-group">
          <input  name="publicacion" placeholder="Dirección" required>
        </div>
      </div>
  
      <div class="form-group">
        <label>Telefono:</label>
        <div class="input-group">
          <input   name="precio" placeholder="Telefono" required>
        </div>
      </div>
  
      <div class="form-group">
        <label>Contraseña:</label>
        <div class="input-group">
          <input   name="idioma" placeholder="Contraseña" required>
        </div>
      </div>
  
      <button type="submit" onclick="alert('Nuevo Autor')">Guardar</button>
      <button onclick="history.back()" style="margin-top:2%">Regresar</button>
    </form>
  </div>
  
  