/* Estilos generales */
body {
    background: linear-gradient(135deg, #ececec, #f7f7f7);
    font-family: Arial, sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  h2 {
    text-align: center;
    color: white; /* Cambiado a blanco */
    background-color: #2fcdcd; /* Color de fondo para mejor contraste */
    padding: 10px; /* Opcional: para dar un poco de espacio alrededor del texto */
    border-radius: 8px; /* Opcional: para bordes redondeados */
  }
  
  
  /* Estilo del formulario */
  form {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }
  
  /* Estilo de grupos de formulario */
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  /* Estilo de los íconos */
  .input-group {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .input-group i {
    margin-right: 10px;
  }
  
  /* Estilo de las etiquetas y entradas */
  label {
    font-size: 14px;
    color: #555;
    width: 30%; /* Ancho de la etiqueta */
  }
  
  input {
    width: calc(70% - 22px); /* Ajustar el ancho según el espacio del ícono */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  /* Estilo del botón */
  button {
    width: 100%;
    padding: 10px;
    background-color: #4ca3af;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4591a0;
  }
  